<form name="resetPass" method="post">
  <div class="form-control">
    <label translate>New Password</label>
    <input type="password" id="password" name="password" required />

  </div>
  <div class="form-control">
    <label translate>Repeat Password</label>
    <input type="password" id="confirm_password" name="confirm_password" required />
  </div>
  <div class="form-control">
    <input type="hidden" id="token" name="token" value="" />
    <span id='message'></span>
  </div>
  <button type="submit" class="btn btn-warning btn-block" translate>Send</button>
</form>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
  document.getElementById("token").value = document.URL.split('&token=')[1];
  $('#password, #confirm_password').on('keyup', function () {
    if ($('#password').val() == $('#confirm_password').val()) {
      $('#message').html('Matching').css('color', 'green');
    } else
      $('#message').html('Not Matching').css('color', 'red');
  });
</script>